body {
  margin:0;
  font-family: Arial, sans-serif;
  background:#eafff4;
}

.app{
  max-width:430px;
  margin:auto;
  min-height:100vh;
  text-align:center;
  padding:20px;
}

.logo-area{
  margin-top:30px;
}

.logo{
  width:120px;
  display:block;
  margin:0 auto 10px auto;
}

h1{
  color:#1c8c57;
  margin:5px 0;
}

.brand{
  color:#6aa98b;
  font-size:14px;
}

.buttons{
  margin-top:30px;
}

.btn{
  display:block;
  background:#1f8f5f;
  color:white;
  padding:16px;
  border-radius:40px;
  margin:15px 0;
  font-size:18px;
  text-decoration:none;
  box-shadow:0 6px 15px rgba(0,0,0,0.1);
}

.btn:hover{
  background:#176d49;
}

.contact{
  margin-top:40px;
  background:white;
  padding:15px;
  border-radius:20px;
  font-size:14px;
}

.socials{
  margin-top:10px;
  color:#1f8f5f;
  font-weight:bold;
}
