*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background:#eafff4;
}

.app{
  max-width:420px;
  margin:auto;
  padding:20px;
  text-align:center;
}

.logo img{
  width:120px;
  margin-top:30px;
}

.logo h1{
  color:#2fa36b;
  font-size:36px;
  margin-top:10px;
}

.logo p{
  color:#666;
}

.buttons{
  margin-top:40px;
}

.btn{
  background:white;
  margin:15px 0;
  padding:18px;
  border-radius:20px;
  font-size:18px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.contact-box{
  background:#2fa36b;
  color:white;
  padding:20px;
  border-radius:20px;
  margin-top:40px;
}

.socials{
  display:flex;
  justify-content:center;
  gap:20px;
  margin-top:25px;
}

.socials img{
  width:50px;
}
